.userheader {
  padding-top: 120px;
  height: 520px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #1c33b8;
  background-image: url("../images/user-header-circles.png");
}