/* New Tweet Section */
.container .new-tweet {
  width: 100%;
  margin: 20px 0px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}
.new-tweet label {
  font-size: 20px;
}

.new-tweet textarea {
  /* Override User Agent */
  background-color: inherit;
  color: inherit;
  font: inherit;
  border-width: 0px; 
  border-style: solid;
  border-color: inherit;
  border-image: inherit;
  resize: none;
  
  /* Add Style */
  border-bottom: 3px solid black;
  height: 60px;
  font-size: 18px;
}

.new-tweet textarea:focus { /* Possibly remove for accessability */
  /* Override User Agent */
  outline-offset: 0px;
  outline: -webkit-focus-ring-color auto 0px;
}

.new-tweet-footer {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;

  font-family: 'Bungee', cursive;
  font-size: 18px;
}

.new-tweet-footer button {
  background-color: #4056A1;
  color: #FFFFFF;
 }

 .red {
   color: red;
 }