.tweet {
  border: 3px solid black;
  margin: 10px 0px;
  padding: 10px;
}

.tweet:hover {
  text-shadow: 1px 1px 2px lightblue;
  box-shadow: 4px 4px 4px lightblue;
}

.tweet header {
  display: flex;
  justify-content: space-between;
}

.tweet header .left {
  display: flex;
  align-items: center;
}

.tweet header .right {
  display: none;
}

.tweet:hover header .right{
  display: flex;
  align-items: center;
  color: lightblue;
}

.tweet header img {
  height: 50px;
  margin-right: 5px;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid black;
}

